body{font-family:$f-family;font-size:$f-size;padding:0;margin:0;}
#app_data{display:none;}

::-webkit-scrollbar{background-color:transparent;width:8px;height:8px;}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-track{background-color:transparent;}
::-webkit-scrollbar-track-piece {}
::-webkit-scrollbar-thumb{background-color:$c-faded-txt;border-radius:5px;}
::-webkit-scrollbar-corner{background-color:transparent;}
::-webkit-resizer{display:none;}

#frontend-ui{
  position:fixed;left:0;top:0;width:100%;height:100%;

  #project_file{@extend .dark_panel0;white-space:nowrap;overflow:hidden;font-size:$f-size-smaller;cursor:default;line-height:$h-projectfile;text-align:center;position:absolute;top:$h-topnav;left:0;width:100%;}
  #project_file::selection{background-color:$c-highlight0;color:$c-bright-txt;}
  #project_file.change{color:$c-highlight0;}

  #workspace{
    position:absolute;left:0;top:($h-topnav + $h-projectfile);right:0;bottom:0;margin:auto;

    #main_panels{
      position:absolute;left:0;top:0;bottom:0;right:0;margin:auto;

      #main_panel_left{@extend .dark_panel1;border-right:solid 1px $c-dark0;}
      #main_panel_center{@extend .dark_panel2;border-left:solid 1px $c-dark0;border-right:solid 1px $c-dark0;}
      #main_panel_right{@extend .dark_panel1;border-left:solid 1px $c-dark0;}
    }

    .panel_ctls{
      position:absolute;top:0;left:0;width:100%;height:$h-panel-ctls;

      .btn_toggle_prev,.btn_toggle_next{
        @extend .svg_btn;height:100%;width:$h-panel-ctls;position:absolute;top:0;bottom:0;margin:auto;border:solid 2px transparent;
      }
      .btn_toggle_prev{left:0;}
      .btn_toggle_next{right:0;}

      .btn_toggle_prev:not(.toggle_off),.btn_toggle_next.toggle_off{@include rotate(180deg);}
    }

    .panel_content{
      overflow:hidden;position:absolute;left:0;top:$h-panel-ctls;right:0;bottom:0;margin:auto;box-sizing:border-box;-mox-box-sizing:border-box;
    }
    .panel_content:hover{overflow:auto;}
  }

}
