#frontend-ui #workspace .panel_content{
  > .content{
    z-index:0;visibility:hidden;position:absolute;margin:auto;left:$codemirror_content_pad;top:0;bottom:$codemirror_content_pad;right:$codemirror_content_pad;

    &.active{visibility:visible;z-index:999;}

    .CodeMirror{
      width:100%;height:100%;position:absolute;left:0;top:0;bottom:0;right:0;margin:auto;
    }
  }
}
