/*
 * USAGE EXAMPLES:
 *
 * @include transition(width .2s linear);
 * @include transition(color .2s linear, background-color .3s linear);
 * @include transition(color .2s linear, background-color .3s linear, width .5s linear);
 * etc...
 *
 * */
@mixin transition($defs...) {
  -webkit-transition: $defs; -moz-transition: $defs; -ms-transition: $defs; -o-transition: $defs; transition: $defs;
}

/*
 * USAGE EXAMPLES:
 *
 * @include rotate(180deg);
 *
 * */
@mixin rotate($deg) {
  -webkit-transform:rotate($deg); -moz-transform:rotate($deg); -ms-transform:rotate($deg); -o-transform:rotate($deg); transform:rotate($deg);
}

/*
Usage:

  @include breakpoint(700px){
    ...
  }

*/
@mixin xbreak($bp){
    @media screen and (max-width: $bp) {
      @content;
    }
}

@mixin ybreak($bp){
    @media screen and (max-height: $bp) {
      @content;
    }
}

/*
Usage:

  @include borderbox()

*/
@mixin borderbox {
    box-sizing:border-box; -moz-box-sizing:border-box;
}
