$f-size-extra:18px;
$f-size-bigger:16px;
$f-size:14px;
$f-size-smaller:12px;
$f-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;

/*heights*/
$h-topnav: ($f-size * 2);
$h-projectfile: ($f-size-smaller * 2);
$h-panel-ctls: ($f-size * 2);
$h_filenav_item:($f-size + 10);

$codemirror_content_pad: $f-size;

/*dark colors*/
$c-dark0: #191C22;
$c-dark1: #242A30;
$c-dark2: #2D323B;

/*standout highlight colors*/
$c-highlight0: #6E9FEA;

/*text colors*/
$c-faded-txt: #69707a;
$c-medium-txt: #9da5b4;
$c-bright-txt: #d7dae0;
